.unbounded {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

* {
  font-family: Unbounded;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  flex-wrap: wrap; 
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
}

.logo img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  flex-grow: 1;
  padding: 10px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  white-space: nowrap;
}

body {
  margin: 0;
  font-family: "Overpass Mono", monospace;
  background-color: #f9f9f9;
  color: #222;
}

.main-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 50px;
}

.bigtext {
  font-size: 60px;
  text-align: center;
}

.service {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.service-image {
  flex-shrink: 0;
}

.service-image img {
  width: 350px;
  height: auto;
  border-radius: 8px;
  display: block;
}

.service-text {
  flex: 1;
}

.service-text h3 {
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
  margin: 0;
}